.myBody{
   position: relative;
   top: -100px;
}

.heading1{
   font-size: 19.124px;
   color: white;
   margin-left: 20px;
   padding-top: 0;
}
.newReleases{
   margin-left: 15px;  
}
.newReleases img {
   border-radius: 3px;
   margin-left: 5px;
  height: 136.69px;
  width: 1000
}
.movie1{
   height: 136.69px;
   width: 241.78px;
}
.movie2{
   height: 136.69px;
   width: 241.78px;
}
.movie3{
   height: 136.69px;
   width: 241.78px;
}
.movie4{
   height: 136.69px;
   width: 241.78px;
}
.movie5{
   height: 136.69px;
   width: 241.78px;
}
.movie6{
   height: 136.69px;
   width: 241.78px;
}
.heading2{
   font-size: 19.124px;
   color: white;
   margin-left: 20px;
   padding-top: 0;
}

.indianMovies{
   margin-left: 15px;  
}

.indianMovies img{
   border-radius: 3px;
   margin-left: 5px;
  
}
.movie7{
   height: 136.69px;
   width: 241.78px;
}
.movie8{
   height: 136.69px;
   width: 241.78px;
}
.movie9{
   height: 136.69px;
   width: 241.78px;
}
.movie10{
   height: 136.69px;
   width: 241.78px;
}
.movie11{
   height: 136.69px;
   width: 241.78px;
}
.movie12{
   height: 136.69px;
   width: 241.78px;
}
.heading3{
   font-size: 19.124px;
   color: white;
   margin-left: 20px;
   padding-top: 0;
}

.moviesPakistan{
   margin-left: 15px;  
}

.moviesPakistan img{
   border-radius: 3px;
   margin-left: 50px;
  
}
.movie13{
   height: 174.34px;
   width: 245.5px;
}
.movie14{
   height: 174.34px;
   width: 245.5px;
}
.movie15{
   height: 174.34px;
   width: 245.5px;
}
.movie16{
   height: 174.34px;
   width: 245.5px;
}
.movie17{
   height: 174.34px;
   width: 245.5px;
}
